

footer {
    .upper-footer {
        background-image: url('/resources/img/footer-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 3rem 0;
        overflow: hidden;

        .container {
            width: 1300px;
            margin: 0 auto;
            position: relative;

            .shape {
                position: absolute;
                top: -80px;
                right: 0;
            }

            .wrapper {
                display: flex;

                .column {
                    margin-right: 2rem;

                    ul {
                        list-style: none;

                        li {
                            margin-bottom: 0.5rem;
                            font-size: 0.8rem;
                            font-weight: 300;
                            color: #959595;
                        }
                    }

                    .firstUl {
                        margin-bottom: 1.5rem;
                    }
                }

                h2 {
                    color: white;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    margin-left: 1.8rem;
                }
            }

            .credits {
                margin-top: 0.5rem;
                font-size: 0.8rem;
                font-weight: 300;
                color: #959595;

            }
        }
    }

    .bottom-footer {
        padding: 1.5rem 0;
        background-color: #303030;

        .container {
            width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;


            button {
                padding: 1rem;
                background-color: transparent;
                border: 2px solid;
                color: white;
                font-size: 17px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .socials {
                display: flex;
                align-items: center;

                p {
                    margin-right: 1.5rem;
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .wrapper {

                    & > * {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}